{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Sangita Mitra</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/profile.jpg' %}" >
					<hr>
					<h4>Hi I'm Sangita!</h4>
                    <p>I am a data enthusistic, problem solver, and team player.
                        I love coding, researching and colleborating on projects.</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Abput Me</h4>
					<hr>
					<p>I always love to learn new things, whether it's new cooking recipes or new technical skills. I push myself to grow every day with knowledge related to data science, data analysis, machine learning, deep learning, web development, and cloud technologies. My motto is to keep learning keep growing. I'm passionate about data and analysis, and my goal is to turn data into information and information into insight. I achieved IBM Data Science Professional Certificate.</p>

					<p>I'm working as a MITACS Business Strategy Intern at Rfat Brew Labs. I'm currently researching the bioinformatics field, and my research is focused on the SARS-CoV-2 evolution. Using all available genome sequences and protein sequences of SARS-CoV-2, I'm trying to analyze how the SARS-CoV-2 has been mutated throughout time. I'm working with data to do the evolutionary analysis on coronaviruses and SARS-CoV-2 to see how these viruses are being migrated from one virus to another virus. We are also interested to know how this virus migrates from one place to another place.
         
                        Hopefully, this research will help us to understand the COVID-19 pandemic better and give insight into upcoming viruses.</p>
                        
                    <p>I enjoy participating in hackathons and solve business problems with data analysis. My work primarily revolves around Web Development, Database Management, Exploratory Data Analysis, Data Validation, Data Visualization, and Predictive Modeling. I'm working as a Global Ambassador for WomenTech Network to encourage more participation of women in technology. I like to grow with an organization that is inclusive, diverse, and gives everyone equal opportunities.</p>

					

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12">
				<div class="card card-body h-100">
					<h5>Professional Experiences</h5>
					<hr>
                    <p><b>MITACS Business Strategy Intern at Rfat Brew Labs</b></p>
					<p>I created and managed database for the company using MS Access and SQL and working on automatic report generation. I'm using augmented data visualization tools to incorporate trend graphs to provide insights on data using MS Excel, Tableau. 
                        I'm implementing machine learning algorithms to look for hidden patterns in data sets for long term trending.</p>

                    <p><b>Business Analyst at TrustBIX Inc.</b></p>
                    <p>I created a Power BI Dashboard to answer necessary business questions and to make data more accessible for non-developers. 
                        I completed data quality assessment, data modeling, data exploratory analysis and documented multiple reports.
                    I also performed data gap analysis and due intelligence and suggested necessary steps to mitigate the data gap to optimize the
                    operational process.</p>

                    <p><b>Graduate Research Assistant at University of</b></p>
                    <p>I created a <a href ="http://webdocs.cs.ualberta.ca/~sangita/"> website</a> to present data analysis on SARS-CoV-2 evolution, which has been viewed by more than 1000 viewers.
                        I created and maintained databases with more than millions of nucleotides and protein sequence of SARS-CoV-2 and other
                        SARS related coronaviruses.
                        I designed several new experiments aiming to understand the current situation of SARS-CoV-2 evolution better and build an
                        LSTM network for time series forecasting to predict upcoming mutations.
                        I also Performed data visualization on SARS-CoV-2 and Influenza virus data using Tableau and MS Excel.</p>

				</div>
			</div>

			
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
				
                    <h5>Technical Skills</h5>
				    <hr>
                    <p>Programming Languages: Python, C, R, MySQL, PostgreSQL</p>

                    <p>Frameworks/Libraries/Tools: Django, Tensorflow, Keras, Pandas, Numpy, Scipy, Scikit-Learn, Matplotlib, Plotty, Seaborn, Tableau, IBM Watson Studio, Apache Spark</p>

                    <p>Microsoft Office Suite: Access, Outlook, Word, Excel, PowerPoint, Power BI</p>
				    <hr>
				

				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					
                    <h5>Certifications</h5>

				    <hr>
                    <ol style="list-style-type: circle">
                     <a href="https://drive.google.com/file/d/1HNaXermGNMKaKT2XTFDvIxnOhkHVkB5I/view"><li>IBM Data Science Professional Certificate -Coursera</li> </a>   
                     <a href="https://drive.google.com/file/d/1EOA7eLn0tOSGQtMskc6rzLgpOs8jbjEB/view"><li>Microsoft Certified Azure Fundamentals AZ-900</li> </a>   
                     <a href="https://drive.google.com/file/d/1ZUTxU-VFQCx1S62hEAGaknDSBAZB7BAL/view"><li>BOLT UBC X Celonis Data Hackathon -Second Place </li></a>
                     <a href="https://drive.google.com/file/d/1MYGZHb9LZ8Yc9dh64mM4lXlbx_lEYKhJ/view"><li>Power BI Essential Training -LinkedIn Learning</li></a> 
                     <a href="https://drive.google.com/file/d/1camLxETKpfEus0lW0BSj7B7dXVnGVgH6/view"><li>PostgreSQL Essential Training -LinkedIn Learning</li></a> 
                     <a href="https://drive.google.com/file/d/1znt0cjVhAbtkdT0YrxtnAQrfmZsu2nfk/view"><li>Google Analytics Essential Training -LinkedIn Learning</li> </a>
                      

                    </ol>
                
				    <hr>
				

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>